{% extends 'base.html.twig' %}

{% block title %}TrainingMeasure index{% endblock %}

{% block body %}
    <h1>TrainingMeasure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Is_active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_measure in training_measures %}
            <tr>
                <td>{{ training_measure.id }}</td>
                <td>{{ training_measure.name }}</td>
                <td>{{ training_measure.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ training_measure.createdAt ? training_measure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_measure.updatedAt ? training_measure.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_measure.createdBy }}</td>
                <td>{{ training_measure.updatedBy }}</td>
                <td>
                    <a href="{{ path('admin_training_measure_show', {'id': training_measure.id}) }}">show</a>
                    <a href="{{ path('admin_training_measure_edit', {'id': training_measure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_training_measure_new') }}">Create new</a>
{% endblock %}
