{% extends './admin/base.html.twig' %}

{% block title %}Dispositifs de formation{% endblock %}

{% block body %}
    <h1>Dispositifs de formation</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Intitulé</th>
                <th scope="col">Actif</th>
                <th scope="col">Créé le</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for training_measure in training_measures %}
                <tr>
                    <td scope="row">{{ training_measure.id }}</td>
                    <td>{{ training_measure.name }}</td>
                    <td>{{ training_measure.isActive ? 'Actif' : 'Inactif' }}</td>
                    <td>{{ training_measure.createdAt ? training_measure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if is_granted('ROLE_TRAINING_MEASURE_SHOW') %}
                            <a class="btn btn-primary" role="button" href="{{ path('admin_training_measure_show', {'slug': training_measure.slug}) }}">Voir</a>
                        {% endif %}
                        {% if is_granted('ROLE_TRAINING_MEASURE_EDIT') %}
                            <a class="btn btn-primary" role="button" href="{{ path('admin_training_measure_edit', {'slug': training_measure.slug}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(training_measures) }}
    </div>

    {% if is_granted('ROLE_TRAINING_MEASURE_NEW') %}
        <a class="btn btn-primary" href="{{ path('admin_training_measure_new') }}" role="button">Ajouter un dispositif</a>
    {% endif %}
    
{% endblock %}
