{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Catalog_link</th>
                <th>ELearning_link</th>
                <th>Is_active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.catalogLink }}</td>
                <td>{{ formation.eLearningLink }}</td>
                <td>{{ formation.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.createdBy }}</td>
                <td>{{ formation.updatedBy }}</td>
                <td>
                    <a href="{{ path('admin_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('admin_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_formation_new') }}">Create new</a>
{% endblock %}
