{% extends './admin/base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Formations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Intitulé</th>
            <th scope="col">Lien du catalogue</th>
            <th scope="col">Lien e-Learning</th>
            <th scope="col">Status</th>
            <th scope="col">Date de création</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td scope="row">{{ formation.id }}</td>
                    <td>{{ formation.name }}</td>
                    <td>{{ formation.catalogLink|slice(0, 30) }}...</td>
                    <td>{{ formation.eLearningLink|slice(0, 30) }}...</td>
                    <td>
                        {{ formation.isActive ? 'Actif' : 'Inactif' }}
                    </td>
                    <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_formation_show', {'slug': formation.slug}) }}" role="button">Voir</a>
                        <a class="btn btn-primary" href="{{ path('admin_formation_edit', {'slug': formation.slug}) }}" role="button">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun enregistrement</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  <div class="d-flex justify-content-center">
    {{ knp_pagination_render(formations) }}
  </div>

    <a class="btn btn-primary" href="{{ path('admin_formation_new') }} " role="button">Ajouter une formation</a>
{% endblock %}
