{% extends './admin/base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Intitulé</th>
                <td>{{ formation.name }}</td>
            </tr>
            <tr>
                <th>Lien du catalogue</th>
                <td>{{ formation.catalogLink }}</td>
            </tr>
            <tr>
                <th>Lien E-Learning</th>
                <td>{{ formation.eLearningLink }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ formation.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créé par</th>
                <td>{{ formation.createdBy }}</td>
            </tr>
            <tr>
                <th>Modifié par</th>
                <td>{{ formation.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('admin_formation_index') }}" role="button">Retour</a>
    <a class="btn btn-primary" href="{{ path('admin_formation_edit', {'slug': formation.slug}) }}" role="button">Modifier</a>

    {{ include('admin/formation/_delete_form.html.twig') }}
{% endblock %}
