{% extends './admin/base.html.twig' %}

{% block title %}TrainingManager index{% endblock %}

{% block body %}
    <h1>TrainingManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>Is_active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_manager in training_managers %}
            <tr>
                <td>{{ training_manager.id }}</td>
                <td>{{ training_manager.firstName }}</td>
                <td>{{ training_manager.lastName }}</td>
                <td>{{ training_manager.email }}</td>
                <td>{{ training_manager.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ training_manager.createdAt ? training_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_manager.updatedAt ? training_manager.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_manager.createdBy }}</td>
                <td>{{ training_manager.updatedBy }}</td>
                <td>
                    <a href="{{ path('admin_training_manager_show', {'id': training_manager.id}) }}">show</a>
                    <a href="{{ path('admin_training_manager_edit', {'id': training_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_training_manager_new') }}">Create new</a>
{% endblock %}
