{% extends './admin/base.html.twig' %}

{% block title %}Responsables de formation{% endblock %}

{% block body %}
    <h1>Responsables de formation</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Équipe</th>
                <th scope="col">Localisation</th>
                <th scope="col">Status</th>
                <th scope="col">Créé le</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_manager in training_managers %}
            <tr>
                <td scope="row">{{ training_manager.id }}</td>
                <td>{{ training_manager.firstName }}</td>
                <td>{{ training_manager.lastName }}</td>
                <td>{{ training_manager.email }}</td>
                <td>{{ training_manager.team }}</td>
                <td>{{ training_manager.city }}</td>
                <td>{{ training_manager.isActive ? 'Actif' : 'Inactif' }}</td>
                <td>{{ training_manager.createdAt ? training_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('admin_training_manager_show', {'slug': training_manager.slug}) }}">Voir</a>
                    <a class="btn btn-primary" role="button" href="{{ path('admin_training_manager_edit', {'slug': training_manager.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(training_managers) }}
    </div>

    <a class="btn btn-primary" role="button" href="{{ path('admin_training_manager_new') }}">Ajouter un responsable</a>
{% endblock %}
