{% extends './admin/base.html.twig' %}

{% block title %}Responsable de formation {{ training_manager.firstName }}{% endblock %}

{% block body %}
    <h1>Responsable de formation {{ training_manager.firstName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training_manager.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ training_manager.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ training_manager.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ training_manager.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ training_manager.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ training_manager.createdAt ? training_manager.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ training_manager.updatedAt ? training_manager.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Créé par</th>
                <td>{{ training_manager.createdBy }}</td>
            </tr>
            <tr>
                <th>Modifié par</th>
                <td>{{ training_manager.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_TRAINING_MANAGER_EDIT') %}
        <a class="btn btn-primary" role="button" href="{{ path('admin_training_manager_edit', {'slug': training_manager.slug}) }}">Modifier</a>
    {% endif %}
    
    {% if is_granted('ROLE_TRAINING_MANAGER_DELETE') %}
        {{ include('admin/training_manager/_delete_form.html.twig') }}
    {% endif %}

    <a class="btn btn-secondary" role="button" href="{{ path('admin_training_manager_index') }}">Retour</a>
{% endblock %}
