{% extends './admin/base.html.twig' %}

{% block title %}Équipes{% endblock %}

{% block body %}
    <h1>Équipes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Photo</th>
                <th scope="col">Status</th>
                <th scope="col">Créé le</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td scope="row">{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.picture }}</td>
                <td>{{ team.isActive ? 'Actif' : 'Inactif' }}</td>
                <td>{{ team.createdAt ? team.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_TEAM_SHOW') %}
                        <a class="btn btn-primary" role="button" href="{{ path('admin_team_show', {'slug': team.slug}) }}">Voir</a>
                    {% endif %}
                    {% if is_granted('ROLE_TEAM_EDIT') %}
                        <a class="btn btn-primary" role="button" href="{{ path('admin_team_edit', {'slug': team.slug}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(teams) }}
    </div>

    {% if is_granted('ROLE_TEAM_NEW') %}
        <a class="btn btn-primary" role="button" href="{{ path('admin_team_new') }}">Ajouter une équipe</a>
    {% endif %}
    
{% endblock %}
